body {
   
    padding: 0;
    margin: 0;
    font-family: 'oswald', sans-serif;
    background-color: #17171700;
  
}
  input[type="file"]{
    display: none;
  }
label{
    display: inline-block;
font-family: sans-serif;
        margin: auto;
        padding: 4px;
}

